.girl {
  position: relative;
  top: 262px;
  left: 500px;
}
.pic1 {
  position: relative;
  top: -94px;
  left: 38px;
}

.pic2 {
  position: relative;
  top: -224px;
  left: 7px;
}

.pic3 {
  position: relative;
  top: -349px;
  left: 66px;
}

.pic4 {
  position: relative;
  top: -281px;
  left: 149px;
}
.pic5 {
  position: relative;
  top: -99px;
  left: 105px;
}
